{
    // main listener
    "host": "0.0.0.0",
    "port": "16650",
    // Drone Engage Mavlink Module Instances.
    "client_sockets": [
      {
        "target_host": "127.0.0.1",
        "target_port": "16651",
        "sys_id": 6
      },
      {
        "target_host": "127.0.0.1",
        "target_port": "16652",
        "sys_id": 7
      },
      {
        "target_host": "127.0.0.1",
        "target_port": "16653",
        "sys_id": 8
      },
      {
        "target_host": "127.0.0.1",
        "target_port": "16654",
        "sys_id": 9
      }

    ]
  }
