{
    // main listener
    "host": "0.0.0.0",
    "port": "17655",
    // Drone Engage Mavlink Module Instances.
    "client_sockets": [
      {
        "target_host": "127.0.0.1",
        "target_port": "17651",
        "sys_id": 10
      },
      {
        "target_host": "127.0.0.1",
        "target_port": "17652",
        "sys_id": 11
      },
      {
        "target_host": "127.0.0.1",
        "target_port": "17653",
        "sys_id": 12
      },
      {
        "target_host": "127.0.0.1",
        "target_port": "17654",
        "sys_id": 13
      }

    ]
  }